# Dependency
node_modules/
bower_components/

# log
npm-debug.log

# lock
yarn.lock
package-lock.json

# Backup
bk
bk*
README*.md
!README-*.md
images-bk
assets-bk

# Graphic
*.psd

# IDE
.vscode/
.idea/

# test and coverage
coverage
.nyc_output
